<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateCustomerinfoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateCustomerinfoLabel_CId}" for="CId" />
                    <h:inputText id="CId" value="#{customerinfoController.selected.CId}" title="#{bundle.CreateCustomerinfoTitle_CId}" required="true" requiredMessage="#{bundle.CreateCustomerinfoRequiredMessage_CId}"/>
                    <h:outputLabel value="#{bundle.CreateCustomerinfoLabel_phone}" for="phone" />
                    <h:inputText id="phone" value="#{customerinfoController.selected.phone}" title="#{bundle.CreateCustomerinfoTitle_phone}" />
                    <h:outputLabel value="#{bundle.CreateCustomerinfoLabel_email}" for="email" />
                    <h:inputText id="email" value="#{customerinfoController.selected.email}" title="#{bundle.CreateCustomerinfoTitle_email}" />
                    <h:outputLabel value="#{bundle.CreateCustomerinfoLabel_companyname}" for="companyname" />
                    <h:inputText id="companyname" value="#{customerinfoController.selected.companyname}" title="#{bundle.CreateCustomerinfoTitle_companyname}" />
                    <h:outputLabel value="#{bundle.CreateCustomerinfoLabel_companyaddr}" for="companyaddr" />
                    <h:inputText id="companyaddr" value="#{customerinfoController.selected.companyaddr}" title="#{bundle.CreateCustomerinfoTitle_companyaddr}" />
                    <h:outputLabel value="#{bundle.CreateCustomerinfoLabel_employtype}" for="employtype" />
                    <h:inputText id="employtype" value="#{customerinfoController.selected.employtype}" title="#{bundle.CreateCustomerinfoTitle_employtype}" />
                    <h:outputLabel value="#{bundle.CreateCustomerinfoLabel_hoursperweek}" for="hoursperweek" />
                    <h:inputText id="hoursperweek" value="#{customerinfoController.selected.hoursperweek}" title="#{bundle.CreateCustomerinfoTitle_hoursperweek}" />
                    <h:outputLabel value="#{bundle.CreateCustomerinfoLabel_jobtitle}" for="jobtitle" />
                    <h:inputText id="jobtitle" value="#{customerinfoController.selected.jobtitle}" title="#{bundle.CreateCustomerinfoTitle_jobtitle}" />
                    <h:outputLabel value="#{bundle.CreateCustomerinfoLabel_salary}" for="salary" />
                    <h:inputText id="salary" value="#{customerinfoController.selected.salary}" title="#{bundle.CreateCustomerinfoTitle_salary}" />
                    <h:outputLabel value="#{bundle.CreateCustomerinfoLabel_employmentdate}" for="employmentdate" />
                    <h:inputText id="employmentdate" value="#{customerinfoController.selected.employmentdate}" title="#{bundle.CreateCustomerinfoTitle_employmentdate}" >
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateCustomerinfoLabel_preferredcontact}" for="preferredcontact" />
                    <h:inputText id="preferredcontact" value="#{customerinfoController.selected.preferredcontact}" title="#{bundle.CreateCustomerinfoTitle_preferredcontact}" />
                </h:panelGrid>
                <br />
                <h:commandLink action="#{customerinfoController.create}" value="#{bundle.CreateCustomerinfoSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{customerinfoController.prepareList}" value="#{bundle.CreateCustomerinfoShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateCustomerinfoIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
