<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditCustomerinfoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditCustomerinfoLabel_CId}" for="CId" />
                    <h:inputText id="CId" value="#{customerinfoController.selected.CId}" title="#{bundle.EditCustomerinfoTitle_CId}" required="true" requiredMessage="#{bundle.EditCustomerinfoRequiredMessage_CId}"/>
                    <h:outputLabel value="#{bundle.EditCustomerinfoLabel_phone}" for="phone" />
                    <h:inputText id="phone" value="#{customerinfoController.selected.phone}" title="#{bundle.EditCustomerinfoTitle_phone}" />
                    <h:outputLabel value="#{bundle.EditCustomerinfoLabel_email}" for="email" />
                    <h:inputText id="email" value="#{customerinfoController.selected.email}" title="#{bundle.EditCustomerinfoTitle_email}" />
                    <h:outputLabel value="#{bundle.EditCustomerinfoLabel_companyname}" for="companyname" />
                    <h:inputText id="companyname" value="#{customerinfoController.selected.companyname}" title="#{bundle.EditCustomerinfoTitle_companyname}" />
                    <h:outputLabel value="#{bundle.EditCustomerinfoLabel_companyaddr}" for="companyaddr" />
                    <h:inputText id="companyaddr" value="#{customerinfoController.selected.companyaddr}" title="#{bundle.EditCustomerinfoTitle_companyaddr}" />
                    <h:outputLabel value="#{bundle.EditCustomerinfoLabel_employtype}" for="employtype" />
                    <h:inputText id="employtype" value="#{customerinfoController.selected.employtype}" title="#{bundle.EditCustomerinfoTitle_employtype}" />
                    <h:outputLabel value="#{bundle.EditCustomerinfoLabel_hoursperweek}" for="hoursperweek" />
                    <h:inputText id="hoursperweek" value="#{customerinfoController.selected.hoursperweek}" title="#{bundle.EditCustomerinfoTitle_hoursperweek}" />
                    <h:outputLabel value="#{bundle.EditCustomerinfoLabel_jobtitle}" for="jobtitle" />
                    <h:inputText id="jobtitle" value="#{customerinfoController.selected.jobtitle}" title="#{bundle.EditCustomerinfoTitle_jobtitle}" />
                    <h:outputLabel value="#{bundle.EditCustomerinfoLabel_salary}" for="salary" />
                    <h:inputText id="salary" value="#{customerinfoController.selected.salary}" title="#{bundle.EditCustomerinfoTitle_salary}" />
                    <h:outputLabel value="#{bundle.EditCustomerinfoLabel_employmentdate}" for="employmentdate" />
                    <h:inputText id="employmentdate" value="#{customerinfoController.selected.employmentdate}" title="#{bundle.EditCustomerinfoTitle_employmentdate}" >
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditCustomerinfoLabel_preferredcontact}" for="preferredcontact" />
                    <h:inputText id="preferredcontact" value="#{customerinfoController.selected.preferredcontact}" title="#{bundle.EditCustomerinfoTitle_preferredcontact}" />
                </h:panelGrid>
                <h:commandLink action="#{customerinfoController.update}" value="#{bundle.EditCustomerinfoSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditCustomerinfoViewLink}"/>
                <br />
                <h:commandLink action="#{customerinfoController.prepareList}" value="#{bundle.EditCustomerinfoShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditCustomerinfoIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
