<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>ACME Bank Assignment 2</title>
        <f:event type="preRenderView" listener="#{webLoginBean.isAuthenticated()}" />
    </h:head>
    <h:body>
        
        <!-- Include the decoration container -->
            <ui:decorate template="decor.xhtml">
                <!-- A container for the content (content defined in decor.xhtml) -->
                <ui:define name="content">
                    <!-- include the menu -->
                    <ui:include src="menuBar.xhtml"/>
                    
                    <!-- Home page form -->
                    <p:layoutUnit position="center" resizable="false" style="min-height: 400px;max-height: available">
                    <h:outputText value="Application by Christopher White, Hongtao Wu and James Alan Nguyen, 2013" />
                        
                    </p:layoutUnit>
                </ui:define>
            </ui:decorate>
        
    </h:body>
</html>

