<?xml version='1.0' encoding='UTF-8' ?>
<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> -->
<ui:fragment xmlns="http://www.w3.org/1999/xhtml"
             xmlns:p="http://primefaces.org/ui"
             xmlns:ui="http://java.sun.com/jsf/facelets"
             xmlns:h="http://java.sun.com/jsf/html"
             xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:form id="f_navbar">
        
        <p:layoutUnit position="north" resizable="false" style="height: auto">
            <p:menubar style="height: auto">
                 <p:menuitem value="Home" url="welcome.xhtml" style="margin-left:30px"/>
                 
                 <p:menuitem value="Create Home Loan" url="homeLoanWizard.xhtml" />

                 <p:menuitem value="Transactions" url="transactions.xhtml" />
                 
                 <p:menuitem value="About" url="about.xhtml"/>
                 
                 <!-- The logout option with search bar -->
                 <f:facet name="options">
                     <h:outputText value="#{webLoginBean.welcomeMessage}" style="margin-right:10px"/>
                     <p:button value="Logout" outcome="sessionTimeout" icon="ui-icon-extlink"/>
                 </f:facet>
            </p:menubar>
        </p:layoutUnit>
    </h:form>

</ui:fragment>

