<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewCustomerinfoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewCustomerinfoLabel_CId}"/>
                    <h:outputText value="#{customerinfoController.selected.CId}" title="#{bundle.ViewCustomerinfoTitle_CId}"/>
                    <h:outputText value="#{bundle.ViewCustomerinfoLabel_phone}"/>
                    <h:outputText value="#{customerinfoController.selected.phone}" title="#{bundle.ViewCustomerinfoTitle_phone}"/>
                    <h:outputText value="#{bundle.ViewCustomerinfoLabel_email}"/>
                    <h:outputText value="#{customerinfoController.selected.email}" title="#{bundle.ViewCustomerinfoTitle_email}"/>
                    <h:outputText value="#{bundle.ViewCustomerinfoLabel_companyname}"/>
                    <h:outputText value="#{customerinfoController.selected.companyname}" title="#{bundle.ViewCustomerinfoTitle_companyname}"/>
                    <h:outputText value="#{bundle.ViewCustomerinfoLabel_companyaddr}"/>
                    <h:outputText value="#{customerinfoController.selected.companyaddr}" title="#{bundle.ViewCustomerinfoTitle_companyaddr}"/>
                    <h:outputText value="#{bundle.ViewCustomerinfoLabel_employtype}"/>
                    <h:outputText value="#{customerinfoController.selected.employtype}" title="#{bundle.ViewCustomerinfoTitle_employtype}"/>
                    <h:outputText value="#{bundle.ViewCustomerinfoLabel_hoursperweek}"/>
                    <h:outputText value="#{customerinfoController.selected.hoursperweek}" title="#{bundle.ViewCustomerinfoTitle_hoursperweek}"/>
                    <h:outputText value="#{bundle.ViewCustomerinfoLabel_jobtitle}"/>
                    <h:outputText value="#{customerinfoController.selected.jobtitle}" title="#{bundle.ViewCustomerinfoTitle_jobtitle}"/>
                    <h:outputText value="#{bundle.ViewCustomerinfoLabel_salary}"/>
                    <h:outputText value="#{customerinfoController.selected.salary}" title="#{bundle.ViewCustomerinfoTitle_salary}"/>
                    <h:outputText value="#{bundle.ViewCustomerinfoLabel_employmentdate}"/>
                    <h:outputText value="#{customerinfoController.selected.employmentdate}" title="#{bundle.ViewCustomerinfoTitle_employmentdate}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewCustomerinfoLabel_preferredcontact}"/>
                    <h:outputText value="#{customerinfoController.selected.preferredcontact}" title="#{bundle.ViewCustomerinfoTitle_preferredcontact}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{customerinfoController.destroyAndView}" value="#{bundle.ViewCustomerinfoDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewCustomerinfoEditLink}"/>
                <br />
                <h:commandLink action="#{customerinfoController.prepareCreate}" value="#{bundle.ViewCustomerinfoCreateLink}" />
                <br />
                <h:commandLink action="#{customerinfoController.prepareList}" value="#{bundle.ViewCustomerinfoShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewCustomerinfoIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
