<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateHomeloantransactionsTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateHomeloantransactionsLabel_hltId}" for="hltId" />
                    <h:inputText id="hltId" value="#{homeloantransactionsController.selected.hltId}" title="#{bundle.CreateHomeloantransactionsTitle_hltId}" required="true" requiredMessage="#{bundle.CreateHomeloantransactionsRequiredMessage_hltId}"/>
                    <h:outputLabel value="#{bundle.CreateHomeloantransactionsLabel_fromaccnum}" for="fromaccnum" />
                    <h:inputText id="fromaccnum" value="#{homeloantransactionsController.selected.fromaccnum}" title="#{bundle.CreateHomeloantransactionsTitle_fromaccnum}" />
                    <h:outputLabel value="#{bundle.CreateHomeloantransactionsLabel_amount}" for="amount" />
                    <h:inputText id="amount" value="#{homeloantransactionsController.selected.amount}" title="#{bundle.CreateHomeloantransactionsTitle_amount}" />
                    <h:outputLabel value="#{bundle.CreateHomeloantransactionsLabel_transdate}" for="transdate" />
                    <h:inputText id="transdate" value="#{homeloantransactionsController.selected.transdate}" title="#{bundle.CreateHomeloantransactionsTitle_transdate}" >
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateHomeloantransactionsLabel_tohlAcc}" for="tohlAcc" />
                    <h:selectOneMenu id="tohlAcc" value="#{homeloantransactionsController.selected.tohlAcc}" title="#{bundle.CreateHomeloantransactionsTitle_tohlAcc}" >
                        <f:selectItems value="#{homeloanaccountsController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{homeloantransactionsController.create}" value="#{bundle.CreateHomeloantransactionsSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{homeloantransactionsController.prepareList}" value="#{bundle.CreateHomeloantransactionsShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateHomeloantransactionsIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
