<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewHomeloantransactionsTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewHomeloantransactionsLabel_hltId}"/>
                    <h:outputText value="#{homeloantransactionsController.selected.hltId}" title="#{bundle.ViewHomeloantransactionsTitle_hltId}"/>
                    <h:outputText value="#{bundle.ViewHomeloantransactionsLabel_fromaccnum}"/>
                    <h:outputText value="#{homeloantransactionsController.selected.fromaccnum}" title="#{bundle.ViewHomeloantransactionsTitle_fromaccnum}"/>
                    <h:outputText value="#{bundle.ViewHomeloantransactionsLabel_amount}"/>
                    <h:outputText value="#{homeloantransactionsController.selected.amount}" title="#{bundle.ViewHomeloantransactionsTitle_amount}"/>
                    <h:outputText value="#{bundle.ViewHomeloantransactionsLabel_transdate}"/>
                    <h:outputText value="#{homeloantransactionsController.selected.transdate}" title="#{bundle.ViewHomeloantransactionsTitle_transdate}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewHomeloantransactionsLabel_tohlAcc}"/>
                    <h:outputText value="#{homeloantransactionsController.selected.tohlAcc}" title="#{bundle.ViewHomeloantransactionsTitle_tohlAcc}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{homeloantransactionsController.destroyAndView}" value="#{bundle.ViewHomeloantransactionsDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewHomeloantransactionsEditLink}"/>
                <br />
                <h:commandLink action="#{homeloantransactionsController.prepareCreate}" value="#{bundle.ViewHomeloantransactionsCreateLink}" />
                <br />
                <h:commandLink action="#{homeloantransactionsController.prepareList}" value="#{bundle.ViewHomeloantransactionsShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewHomeloantransactionsIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
