<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListHomeloanaccountsTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListHomeloanaccountsEmpty}" rendered="#{homeloanaccountsController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{homeloanaccountsController.items.rowCount > 0}">
                    <h:outputText value="#{homeloanaccountsController.pagination.pageFirstItem + 1}..#{homeloanaccountsController.pagination.pageLastItem + 1}/#{homeloanaccountsController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{homeloanaccountsController.previous}" value="#{bundle.Previous} #{homeloanaccountsController.pagination.pageSize}" rendered="#{homeloanaccountsController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{homeloanaccountsController.next}" value="#{bundle.Next} #{homeloanaccountsController.pagination.pageSize}" rendered="#{homeloanaccountsController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{homeloanaccountsController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListHomeloanaccountsTitle_hlAcc}"/>
                            </f:facet>
                            <h:outputText value="#{item.hlAcc}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListHomeloanaccountsTitle_amountborrowed}"/>
                            </f:facet>
                            <h:outputText value="#{item.amountborrowed}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListHomeloanaccountsTitle_amountrepayed}"/>
                            </f:facet>
                            <h:outputText value="#{item.amountrepayed}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListHomeloanaccountsTitle_CId}"/>
                            </f:facet>
                            <h:outputText value="#{item.CId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{homeloanaccountsController.prepareView}" value="#{bundle.ListHomeloanaccountsViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{homeloanaccountsController.prepareEdit}" value="#{bundle.ListHomeloanaccountsEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{homeloanaccountsController.destroy}" value="#{bundle.ListHomeloanaccountsDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{homeloanaccountsController.prepareCreate}" value="#{bundle.ListHomeloanaccountsCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListHomeloanaccountsIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
