<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewHomeloanaccountsTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewHomeloanaccountsLabel_hlAcc}"/>
                    <h:outputText value="#{homeloanaccountsController.selected.hlAcc}" title="#{bundle.ViewHomeloanaccountsTitle_hlAcc}"/>
                    <h:outputText value="#{bundle.ViewHomeloanaccountsLabel_amountborrowed}"/>
                    <h:outputText value="#{homeloanaccountsController.selected.amountborrowed}" title="#{bundle.ViewHomeloanaccountsTitle_amountborrowed}"/>
                    <h:outputText value="#{bundle.ViewHomeloanaccountsLabel_amountrepayed}"/>
                    <h:outputText value="#{homeloanaccountsController.selected.amountrepayed}" title="#{bundle.ViewHomeloanaccountsTitle_amountrepayed}"/>
                    <h:outputText value="#{bundle.ViewHomeloanaccountsLabel_CId}"/>
                    <h:outputText value="#{homeloanaccountsController.selected.CId}" title="#{bundle.ViewHomeloanaccountsTitle_CId}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{homeloanaccountsController.destroyAndView}" value="#{bundle.ViewHomeloanaccountsDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewHomeloanaccountsEditLink}"/>
                <br />
                <h:commandLink action="#{homeloanaccountsController.prepareCreate}" value="#{bundle.ViewHomeloanaccountsCreateLink}" />
                <br />
                <h:commandLink action="#{homeloanaccountsController.prepareList}" value="#{bundle.ViewHomeloanaccountsShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewHomeloanaccountsIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
