<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListHomeloantransactionsTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListHomeloantransactionsEmpty}" rendered="#{homeloantransactionsController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{homeloantransactionsController.items.rowCount > 0}">
                    <h:outputText value="#{homeloantransactionsController.pagination.pageFirstItem + 1}..#{homeloantransactionsController.pagination.pageLastItem + 1}/#{homeloantransactionsController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{homeloantransactionsController.previous}" value="#{bundle.Previous} #{homeloantransactionsController.pagination.pageSize}" rendered="#{homeloantransactionsController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{homeloantransactionsController.next}" value="#{bundle.Next} #{homeloantransactionsController.pagination.pageSize}" rendered="#{homeloantransactionsController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{homeloantransactionsController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListHomeloantransactionsTitle_hltId}"/>
                            </f:facet>
                            <h:outputText value="#{item.hltId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListHomeloantransactionsTitle_fromaccnum}"/>
                            </f:facet>
                            <h:outputText value="#{item.fromaccnum}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListHomeloantransactionsTitle_amount}"/>
                            </f:facet>
                            <h:outputText value="#{item.amount}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListHomeloantransactionsTitle_transdate}"/>
                            </f:facet>
                            <h:outputText value="#{item.transdate}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListHomeloantransactionsTitle_tohlAcc}"/>
                            </f:facet>
                            <h:outputText value="#{item.tohlAcc}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{homeloantransactionsController.prepareView}" value="#{bundle.ListHomeloantransactionsViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{homeloantransactionsController.prepareEdit}" value="#{bundle.ListHomeloantransactionsEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{homeloantransactionsController.destroy}" value="#{bundle.ListHomeloantransactionsDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{homeloantransactionsController.prepareCreate}" value="#{bundle.ListHomeloantransactionsCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListHomeloantransactionsIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
