<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListCustomerinfoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListCustomerinfoEmpty}" rendered="#{customerinfoController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{customerinfoController.items.rowCount > 0}">
                    <h:outputText value="#{customerinfoController.pagination.pageFirstItem + 1}..#{customerinfoController.pagination.pageLastItem + 1}/#{customerinfoController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{customerinfoController.previous}" value="#{bundle.Previous} #{customerinfoController.pagination.pageSize}" rendered="#{customerinfoController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{customerinfoController.next}" value="#{bundle.Next} #{customerinfoController.pagination.pageSize}" rendered="#{customerinfoController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{customerinfoController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCustomerinfoTitle_CId}"/>
                            </f:facet>
                            <h:outputText value="#{item.CId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCustomerinfoTitle_phone}"/>
                            </f:facet>
                            <h:outputText value="#{item.phone}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCustomerinfoTitle_email}"/>
                            </f:facet>
                            <h:outputText value="#{item.email}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCustomerinfoTitle_companyname}"/>
                            </f:facet>
                            <h:outputText value="#{item.companyname}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCustomerinfoTitle_companyaddr}"/>
                            </f:facet>
                            <h:outputText value="#{item.companyaddr}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCustomerinfoTitle_employtype}"/>
                            </f:facet>
                            <h:outputText value="#{item.employtype}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCustomerinfoTitle_hoursperweek}"/>
                            </f:facet>
                            <h:outputText value="#{item.hoursperweek}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCustomerinfoTitle_jobtitle}"/>
                            </f:facet>
                            <h:outputText value="#{item.jobtitle}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCustomerinfoTitle_salary}"/>
                            </f:facet>
                            <h:outputText value="#{item.salary}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCustomerinfoTitle_employmentdate}"/>
                            </f:facet>
                            <h:outputText value="#{item.employmentdate}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCustomerinfoTitle_preferredcontact}"/>
                            </f:facet>
                            <h:outputText value="#{item.preferredcontact}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{customerinfoController.prepareView}" value="#{bundle.ListCustomerinfoViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{customerinfoController.prepareEdit}" value="#{bundle.ListCustomerinfoEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{customerinfoController.destroy}" value="#{bundle.ListCustomerinfoDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{customerinfoController.prepareCreate}" value="#{bundle.ListCustomerinfoCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListCustomerinfoIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
