<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Create a Homeloan</title>
        <f:event type="preRenderView" listener="#{webLoginBean.isAuthenticated()}" />
    </h:head>
    <h:body>
        
        <!-- Include the decoration container -->
            <ui:decorate template="decor.xhtml">
                <!-- A container for the content (content defined in decor.xhtml) -->
                <ui:define name="content">
                    <!-- include the menu -->
                    <ui:include src="menuBar.xhtml"/>
                    
                    <!-- Home page form -->
                    <p:layoutUnit position="center" resizable="false" style="min-height: 400px;max-height: available">
                        
                        <h:form>
                            
                            <p:growl id="growl" sticky="true" showDetail="true"/>
                            
                            <p:wizard flowListener="#{webHomeLoanBean.onFlowProcess}">
                                <p:tab id="personal" title="Personal">
                                    <p:panel header="Personal Details">
                                        <h:messages errorClass="error"/>
                                        <h:panelGrid columns="2" columnClasses="label, value" styleClass="grid">
                                            
                                            <h:outputText value="Salutation: *" />
                                            <p:selectOneMenu value="#{webHomeLoanBean.user.salutation}" >
                                                <f:selectItem itemLabel="Select One" itemValue="" />
                                                <f:selectItems value="#{webHomeLoanBean.user.salutations}" />
                                            </p:selectOneMenu>
                                            
                                            <h:outputText value="Firstname: *" />
                                            <p:inputText required="true" label="Firstname"  
                                                    value="#{webHomeLoanBean.user.firstName}" />
                                            <h:outputText value="Middle Name: " />
                                            <p:inputText required="true" label="Firstname"  
                                                    value="#{webHomeLoanBean.user.middleName}" />
                                            <h:outputText value="Lastname: *" />
                                            <p:inputText required="true" label="Lastname"
                                                    value="#{webHomeLoanBean.user.lastName}" />
                                            <h:outputText value="Age: *" />
                                            <p:spinner id="age"
                                                 value="#{webHomeLoanBean.user.age}" min="18" max="108"/>  
                                            <h:outputText value="Date of birth: " />
                                            <p:calendar value="#{webHomeLoanBean.user.dob}" id="calDob" showOn="button" />
                                            
                                            <h:outputText value="Phone: " />
                                            <p:inputText required="true" label="Phone" value="#{webHomeLoanBean.user.phone}" id="phone" />
                                            
                                            <h:outputText value="E-mail: " />
                                            <p:inputText required="true" label="E-mail" value="#{webHomeLoanBean.user.email}" id="email" />
                                            
                                            <h:outputText value="Skip to last: " />
                                            <h:selectBooleanCheckbox value="#{webHomeLoanBean.skip}" />
                                        </h:panelGrid>
                                    </p:panel>
                                </p:tab>

                                <p:tab id="employment" title="employment">
                                    <p:panel header="Employment Details">
                                        <h:messages errorClass="error"/>
                                        
                                        <h:panelGrid columns="2" columnClasses="label, value">
                                            <h:outputText value="Company Name: " />
                                            <p:inputText value="#{webHomeLoanBean.user.companyName}" />
                                            
                                            <h:outputText value="Company Address: " />
                                            <p:inputText value="#{webHomeLoanBean.user.companyAddress}" />
                                            
                                            <!-- employment type Full-time/ part-time/ casual -->
                                            <h:outputText value="Employment Type: " />
                                            <p:selectOneMenu value="#{webHomeLoanBean.user.empType}" >
                                                <f:selectItem itemLabel="Select One" itemValue="" />
                                                <f:selectItems value="#{webHomeLoanBean.user.employmentTypes}"/>
                                            </p:selectOneMenu>
                                            
                                            <!-- Hours per week -->
                                            <h:outputText value="Hours per week: " />
                                            <p:spinner id="hours"
                                                 value="#{webHomeLoanBean.user.hoursPerWeek}" min="0" max="112"/>
                                            
                                            <h:outputText value="Job Title: " />
                                            <p:inputText value="#{webHomeLoanBean.user.jobTitle}" />

                                            <h:outputText value="Salary: " />
                                            <p:spinner id="salary"
                                                value="#{webHomeLoanBean.user.salary}" min="0"/>
                                            
                                            <h:outputText value="Employment Start Date: " />
                                            <p:calendar value="#{webHomeLoanBean.user.employmentStartDate}" id="calStartEmpDate" showOn="button" />
                                            
                                            <h:outputText value="Skip to last: " />  
                                            <h:selectBooleanCheckbox value="#{webHomeLoanBean.skip}" />  
                                        </h:panelGrid>  
                                    </p:panel>
                                </p:tab>  

                                <p:tab id="contact" title="Contact Method">  
                                    <p:panel header="Contact Method">
                                        
                                        <h:panelGrid columns="2"> 
                                            <h:outputText value="Preferred Contact Method:* " />
                                            <p:selectOneRadio id="customRadio" value="#{webHomeLoanBean.user.contactType}" layout="pageDirection">  
                                                <f:selectItems value="#{webHomeLoanBean.user.contactTypes}" />
                                            </p:selectOneRadio>
                                        </h:panelGrid>
                                        
                                        
                                    </p:panel>
                                </p:tab>
                                
                                <p:tab id="confirmation" title="Contact Method">  
                                    <p:panel header="Confirmation">
                                        
                                        <h:panelGrid columns="2">
                                            
                                            <h:outputText value="Loan Amount:  $" />
                                            <p:spinner id="loanamount"
                                                       value="#{webHomeLoanBean.user.loanAmount}" min="0" prefix="$" />
                                            
                                        </h:panelGrid>
                                        
                                        <p:scrollPanel style="background-color: #f2f4f9;width: available;height: 200px; border-style: solid; margin: 15px" >
                                            <h:outputText value="${webHomeLoanBean.user.termsMessage}" style="font-size: small; font-family: fantasy"/>
                                        </p:scrollPanel>
                                        
                                        <h:panelGrid columns="2">
                                            
                                            <h:outputText value="I hereby accept the terms and conditions above " />
                                            <p:selectBooleanCheckbox value="#{webHomeLoanBean.user.acceptedTerms}" />
                                        </h:panelGrid>
                                        
                                    </p:panel>
                                    
                                    <p:commandButton value="Submit" update="growl"
                                                    actionListener="#{webHomeLoanBean.submit}"/>
                                    
                                </p:tab>
                                
                            </p:wizard>
                        </h:form>
                    
                    </p:layoutUnit>
                </ui:define>
            </ui:decorate>
        
    </h:body>
</html>

