<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditHomeloanaccountsTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditHomeloanaccountsLabel_hlAcc}" for="hlAcc" />
                    <h:inputText id="hlAcc" value="#{homeloanaccountsController.selected.hlAcc}" title="#{bundle.EditHomeloanaccountsTitle_hlAcc}" required="true" requiredMessage="#{bundle.EditHomeloanaccountsRequiredMessage_hlAcc}"/>
                    <h:outputLabel value="#{bundle.EditHomeloanaccountsLabel_amountborrowed}" for="amountborrowed" />
                    <h:inputText id="amountborrowed" value="#{homeloanaccountsController.selected.amountborrowed}" title="#{bundle.EditHomeloanaccountsTitle_amountborrowed}" />
                    <h:outputLabel value="#{bundle.EditHomeloanaccountsLabel_amountrepayed}" for="amountrepayed" />
                    <h:inputText id="amountrepayed" value="#{homeloanaccountsController.selected.amountrepayed}" title="#{bundle.EditHomeloanaccountsTitle_amountrepayed}" />
                    <h:outputLabel value="#{bundle.EditHomeloanaccountsLabel_CId}" for="CId" />
                    <h:selectOneMenu id="CId" value="#{homeloanaccountsController.selected.CId}" title="#{bundle.EditHomeloanaccountsTitle_CId}" >
                        <f:selectItems value="#{customerinfoController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{homeloanaccountsController.update}" value="#{bundle.EditHomeloanaccountsSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditHomeloanaccountsViewLink}"/>
                <br />
                <h:commandLink action="#{homeloanaccountsController.prepareList}" value="#{bundle.EditHomeloanaccountsShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditHomeloanaccountsIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
