<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Login to ACME Banking System</title>
        <h:outputStylesheet library="css" name="styles.css" />
        <h:outputScript library="scripts" name="jscript.js" />
    </h:head>
    <h:body>
        <h3>Welcome to ACME Banking System</h3>
        <h:form id="f_login">
        <p:panel header="Login" toggleable="true" >
            <p:messages id="messages" autoUpdate="true" closable="true"/>
                <h:panelGrid columns="3" columnClasses="rightalign,leftalign,leftalign">
                    <h:outputLabel for="txtId" value="ID: "/>
                    <p:inputText id="txtId" label="ID" required="true" requiredMessage="Please Provide your User id, Eg; E01" value="#{webLoginBean.id}" >
                        <f:validateLength minimum="2" />
                    </p:inputText>
                    <p:message for="txtId" />
                    <h:outputLabel for="txtPassword" value="Password: "/>
                    <p:password id ="txtPassword" label="Password: " required="true" requiredMessage="Please enter your password" value="#{webLoginBean.password}" 
                                feedback="true" weakLabel="Your password is weak, you should consider changing it" goodLabel="Your password is good but it could be better" strongLabel="=D" inline="true"/>
                    <p:message for="txtPassword"  />
                    <p:commandButton id="login" value="Login"
                                     action="#{webLoginBean.initMe()}" icon="ui-icon-circle-check"/>
                </h:panelGrid>
        </p:panel>
        </h:form>
    </h:body>
</html>
