<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Welcome to ACME banking!</title>
        <f:event type="preRenderView" listener="#{webLoginBean.isAuthenticated()}" />
        <f:event type="preRenderView" listener="#{webTransactionsBean.setID(webLoginBean.id)}" />
    </h:head>
    <h:body>
        
        <!-- Include the decoration container -->
            <ui:decorate template="decor.xhtml">
                <!-- A container for the content (content defined in decor.xhtml) -->
                <ui:define name="content">
                    <!-- include the menu -->
                    <ui:include src="menuBar.xhtml"/>
                    
                    <!-- Home page form -->
                    <p:layoutUnit position="center" resizable="false" style="min-height: 400px;max-height: available">
                        <h:form>
                            <!-- Transactions -->
                            <p:messages id="messages" autoUpdate="true" closable="true"/>
                            <h:panelGrid columns="2" columnClasses="rightalign,leftalign,leftalign">
                                
                                <!-- From Account (Savings Accounts) -->
                                <h:outputText value="From Savings Account: *" />
                                <p:selectOneMenu value="#{webTransactionsBean.fromAccountID}" >
                                    <f:selectItem itemLabel="Select One" itemValue="" />
                                    <f:selectItems value="#{webTransactionsBean.sAccs}" />
                                </p:selectOneMenu>
                                
                                <!-- To Account (Home Loan Accounts) -->
                                <h:outputText value="To HomeLoan Account: *" />
                                <p:selectOneMenu value="#{webTransactionsBean.toAccountID}" >
                                    <f:selectItem itemLabel="Select One" itemValue="" />
                                    <f:selectItems value="#{webTransactionsBean.hlAccs}" />
                                </p:selectOneMenu>
                                
                                <!-- Amount  -->
                                <h:outputText value="Amount: *" />
                                <p:spinner id="amount"
                                                 value="#{webTransactionsBean.amount}" min="0"/>  
                                
                                <p:commandButton value="Submit" 
                                                    actionListener="#{webTransactionsBean.submit}"/>
                            </h:panelGrid>
                            
                            <!-- accounts table -->
                            
                        </h:form>
                    
                    </p:layoutUnit>
                </ui:define>
            </ui:decorate>
        
    </h:body>
</html>

